{% extends 'index.html' %}



{% block title %}
    Seller page
{% endblock title %}


{% block content %}
    <div class="seller-form-wrapper">
        <h2 class="seller-form-header">Register to Sell on AiAi Market</h2>
        <form class="seller-sign-up-form" action="" method="POST">
            {% csrf_token %}
            <div class="seller-form-content-wrapper">
                <div class="seller-sign-up-form-content">
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                </div>
                <div class="seller-sign-up-form-content">
                    {{ form.last_name.label_tag }}
                    {{ form.last_name }}
                </div>
                <div class="seller-sign-up-form-content">
                    {{ form.phone_number.label_tag }}
                    {{ form.phone_number }}
                </div>
                <div class="seller-sign-up-form-content">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>
                <div class="seller-sign-up-form-content">
                    {{ form.address.label_tag }}
                    {{ form.address }}
                </div>
                
            </div>
            <div class="seller-form-border"></div>
            <div class="seller-form-content-wrapper">
                <div class="seller-sign-up-form-content">
                    {{ form.city.label_tag }}
                    {{ form.city }}
                </div>
                <div class="seller-sign-up-form-content">
                    {{ form.state.label_tag }}
                    {{ form.state }}
                </div>
                <div class="seller-sign-up-form-content">
                    {{ form.province.label_tag }}
                    {{ form.province }}
                </div>
                <div class="seller-sign-up-form-content">
                    {{ form.postal_code.label_tag }}
                    {{ form.postal_code }}
                </div>
                <div class="seller-form-btn">
                    <button class="seller-form-register-btn" type="submit">Register</button>
                    <a href="{% url 'products:product-list' %}" class="seller-form-cancel-btn">Cancel</a>
                </div>
            </div>
        </form>
    </div>

{% endblock content %}