{% extends 'index.html' %}


{% block title %}
    Address 
{% endblock title %}


{% block content %}

<style>

    .shipping-address-form-wrapper {
        display: grid;
    }

    .shipping-address-form-contents {
        padding: 1rem;
        background: rgb(255, 255, 255);
        display: grid;
        gap: 1rem;
    }

    .shipping-address-form {
        display: grid;
        align-items: start;
        gap: 1rem;
        padding: 1rem;
        border-radius: 10px;
        background: white;
        box-shadow: 0px 0px 10px -1px rgb(190, 190, 190);
    }

    .shipping-address-form-header {
        color: var(--black-5);
        letter-spacing: 0.05rem;
    }

    .address-inputs {
        display: grid;
        gap: 1rem;
    }

    .address-inputs > div {
        display: grid;
        gap: 0.5rem;
    }

    .address-inputs > div > label {
        letter-spacing: 0.07rem;
        color: rgb(49, 49, 49)
    }

    .address-inputs > div > input {
        padding: 0.8rem 1rem;
        border: 1px solid rgb(196, 196, 196);
        border-radius: 10px;
        font-size: 1rem;
        letter-spacing: 0.07rem;
    }

    .address-inputs > div > input:focus {
        outline: 2px solid var(--black-70);
    }

    .address-btns {
        display: grid;
        gap: 0.5rem;
    }

    .address-continue-to-checkout-btn {
        text-align: center;
        font-size: 1rem;
        letter-spacing: 0.05rem;
        padding: 0.8rem 1rem;
        color: rgb(255, 255, 255);
        background: var(--orange-50);
        border: none;
        border-radius: 25px;
    }

    .address-continue-shopping-btn {
        background: var(--purple-40);
        text-align: center;
        font-size: 1rem;
        letter-spacing: 0.05rem;
        padding: 0.8rem 1rem;
        color: rgb(255, 255, 255);
        border-radius: 25px;
    }

    @media screen and (min-width: 530px) {

        .shipping-address-form-contents {
            width: 95%;
            max-width: 1000px;
            margin: 1rem auto;
            border-radius: 10px;
        }
    }

    @media screen and (min-width: 800px) {

        .shipping-address-form-contents {
            padding: 1.3rem;
            margin: 2rem auto;
        }

        .shipping-address-form {
            grid-template-columns: repeat(2, 1fr);
        }
    }

</style>


<div class="shipping-address-form-wrapper">
    <div class="shipping-address-form-contents">

        <!-- From basket.html -->
        <div class="product-basket-nav-bar">
            {% with request.resolver_match.url_name as url_name %}
                <a class="{% if url_name == 'product-basket' %}active-product-basket-nav-link{% else %}product-basket-nav-link{% endif %}" href="{% url 'products:product-basket' %}">Basket</a>
                <a class="{% if url_name == 'shipping-address' %}active-product-basket-nav-link{% else %}product-basket-nav-link{% endif %}" href="{% url 'products:shipping-address' %}">Address</a>
                <a class="{% if url_name == 'checkout-summary' %}active-product-basket-nav-link{% else %}product-basket-nav-link{% endif %}" href="{% url 'products:checkout-summary' %}">Checkout</a>
                <a class="{% if url_name == 'order-history' %}active-product-basket-nav-link{% else %}product-basket-nav-link{% endif %}" href="{% url 'products:order-history' %}">Order History</a>
                <a class="{% if url_name == 'user-profile' %}active-product-basket-nav-link{% else %}product-basket-nav-link{% endif %}" href="{% url 'users:user-profile' %}">Profile</a>
            {% endwith %}
        </div>
        <!-- End -->

        <!-- From order_history.html -->
        <div class="order-history-header-container">
            <div class="order-history-header-text">
                {% if request.user.shippingaddress_set.all.first %}
                    <h2 class="order-history-header">{{ request.user.username }}'s Address</h2>
                {% else %}
                    <h2 class="order-history-header">Add Your Address</h2>
                {% endif %}
                <a class="order-history-continue-shopping-btn-large" href="{% url 'products:product-list' %}">
                    <p class="order-history-continue-shopping" href="">Continue Shopping</p>
                    <span class="material-symbols-outlined">arrow_right_alt</span>
                </a>
            </div>
            <div class="order-history-user-info-container">
                <div class="order-history-user-profile-image">
                    <img src="{{ request.user.userprofile.profile_image.url }}" alt="">
                </div>
                <div class="order-history-user-profile-info">
                    <p class="order-history-username">{{ request.user.username }}</p>
                    {% if request.user.shippingaddress_set.all.first %}
                        <p>
                            {{ request.user.shippingaddress_set.all.first.first_name }} 
                            {{ request.user.shippingaddress_set.all.first.last_name }}
                        </p>
                        <p>{{ request.user.shippingaddress_set.all.first.email }}</p>
                    {% else %}
                        <p>Name: n/a</p>
                        <p>Email: n/a</p>
                    {% endif %}
                </div>
                <a class="order-history-continue-shopping-btn-small" href="{% url 'products:product-list' %}">
                    <p class="order-history-continue-shopping" href="">Continue Shopping</p>
                </a>
            </div>
        </div>
        <!-- End -->

        <form class="shipping-address-form" action="" method="POST">
            {% csrf_token %}
            <div class="address-inputs">
                <div class="address-first-name">
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                </div>
                <div class="address-last-name">
                    {{ form.last_name.label_tag }}
                    {{ form.last_name }}
                </div>
                <div class="address-email">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>
                <div class="address-phone-number">
                    {{ form.phone_number.label_tag }}
                    {{ form.phone_number }}
                </div>
                <div class="address-address-input">
                    {{ form.address.label_tag }}
                    {{ form.address }}
                </div>
            </div>
            <div class="address-inputs">
                <div class="address-city">
                    {{ form.city.label_tag }}
                    {{ form.city }}
                </div>
                <div class="address-province">
                    {{ form.province.label_tag }}
                    {{ form.province }}
                </div>
                <div class="address-state">
                    {{ form.state.label_tag }}
                    {{ form.state }}
                </div>
                <div class="address-zip_code">
                    {{ form.zip_code.label_tag }}
                    {{ form.zip_code }}
                </div>
                {% if orders %}
                    <div class="address-btns">
                        <button class="address-continue-to-checkout-btn" type="submit">Continue to checkout</button>
                        <a class="address-continue-shopping-btn" href="{% url 'products:product-list' %}">Continue shopping</a>
                    </div>
                {% else %}
                    <div class="address-btns">
                        <button class="address-continue-to-checkout-btn" type="submit">Save Address</button>
                        <a class="address-continue-shopping-btn" href="{% url 'products:product-list' %}">Continue shopping</a>
                    </div>
                {% endif %}
            </div>
        </form>
    </div>
</div>

{% endblock content %}
