
{% extends 'index.html' %}
{% load static %}

{% block title %}
    Payment center
{% endblock title %}


{% block content %}

    <style>

        .payment-center-wrapper {
            display: grid;
        }

        .payment-center-contents {
            /* width: 95%;
            max-width: 1000px;
            margin: 1rem auto; */
            background: rgb(255, 255, 255);
            /* border-radius: 10px; */
            padding: 1rem;
            display: grid;
            gap: 1rem;
        }

        .purchase-items {
            display: none;
        }

        .sm-purchase-items {
            display: grid;
            gap: 1rem;
        }

        .sm-purchase-item {
            display: grid;
            border-radius: 10px;
            box-shadow: 0px 0px 10px -1px rgb(190, 190, 190);
        }

        .sm-purchased {
            display: grid;
            grid-template-columns: 30% 1fr;
            gap: 1rem;
            padding: 1rem;
            color: hsl(0, 0%, 5%);
            letter-spacing: 0.05rem;
            background: hsl(0, 0%, 80%);
        }

        .sm-purchased:first-child {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .sm-purchased:last-child {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        .sm-purchased:nth-child(even) {
            background: hsl(0, 0%, 90%);
        }

        .purchase-items-total-amount-container {
            display: flex;
            justify-content: end;
        }

        .purchase-item-total-amount-content {
            width: 100%;
            max-width: 500px;
            display: grid;
            border-radius: 10px;
            padding: 1rem;
            margin-top: 1rem;
            box-shadow: 0px 0px 10px -1px rgb(190, 190, 190);
        }

        .purchase-item-total-amount-header-text {
            color: hsl(0, 0%, 5%);
            font-size: 1.3rem;
            letter-spacing: 0.05rem;
            margin-bottom: 1rem;
        }

        .purchase-item-total-amount-header {
            display: grid;
            grid-template-columns: 30% 1fr;
            gap: 1rem;
            padding: 1rem;
            letter-spacing: 0.05rem;
            color: hsl(0, 0%, 5%);
            background: hsl(0, 0%, 80%)
        }

        .purchase-item-total-amount-header > h4:first-child {
            font-weight: bold;
        }

        .purchase-item-total-amount-header:nth-child(even) {
            background: hsl(0, 0%, 90%)
        }

        .purchase-item-total-amount-header:nth-child(2) {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .purchase-item-total-amount-header:nth-child(6) {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            font-size: 1.2rem;
            font-weight: bold;
        }

        .checkout-form {
            margin-top: 1rem;
            display: grid;
            gap: 0.5rem;
        }

        .purchase-btn {
            background: var(--orange-50);
            color: rgb(255, 255, 255);
            padding: 0.8rem 1rem;
            border-radius: 25px;
            border: none;
            font-size: 1rem;
            letter-spacing: 0.05rem;
            cursor: pointer;
            text-align: center;
        }

        .checkout-form-continue-shopping-btn {
            background: var(--purple-40);
            color: rgb(255, 255, 255);
            padding: 0.8rem 1rem;
            border-radius: 25px;
            border: none;
            font-size: 1rem;
            letter-spacing: 0.05rem;
            cursor: pointer;
            text-align: center;
        }
        
        @media screen and (min-width: 530px) {
            .payment-center-contents {
                width: 95%;
                max-width: 1000px;
                margin: 1rem auto;
                border-radius: 10px;
            }
        }

        @media screen and (min-width: 800px) {

            .payment-center-contents {
                margin: 2rem auto;
                padding: 1.3rem;
            }
        }

    </style>

    <div class="payment-center-wrapper">

        <!-- Cart is empty -->
        {% if not query_set %}
            <div class="no-order-history-contents">
                <div class="order-history-nav-bar">
                    {% with request.resolver_match.url_name as url_name %}
                        <a class="{% if url_name == 'product-basket' %}active-product-basket-nav-link{% else %}product-basket-nav-link{% endif %}" href="{% url 'products:product-basket' %}">Basket</a>
                        <a class="{% if url_name == 'shipping-address' %}active-product-basket-nav-link{% else %}product-basket-nav-link{% endif %}" href="{% url 'products:shipping-address' %}">Address</a>
                        <a class="{% if url_name == 'checkout-summary' %}active-product-basket-nav-link{% else %}product-basket-nav-link{% endif %}" href="{% url 'products:checkout-summary' %}">Checkout</a>
                        <a class="{% if url_name == 'order-history' %}active-product-basket-nav-link{% else %}product-basket-nav-link{% endif %}" href="{% url 'products:order-history' %}">Order History</a>
                        <a class="{% if url_name == 'user-profile' %}active-product-basket-nav-link{% else %}product-basket-nav-link{% endif %}" href="{% url 'users:user-profile' %}">Profile</a>
                    {% endwith %}
                </div>

                <div class="order-history-header-container" style="width:100%;">
                    <div class="order-history-header-text">
                        <h2 class="order-history-header">Checkout Summary</h2>
                        <a class="order-history-continue-shopping-btn-large" href="{% url 'products:product-list' %}">
                            <p class="order-history-continue-shopping" href="">Continue Shopping</p>
                            <span class="material-symbols-outlined">arrow_right_alt</span>
                        </a>
                    </div>
                    <div class="order-history-user-info-container">
                        <div class="order-history-user-profile-image">
                            <img src="{{ request.user.userprofile.profile_image.url }}" alt="">
                        </div>
                        <div class="order-history-user-profile-info">
                            <p class="order-history-username">{{ request.user.username }}</p>
                            {% if request.user.shippingaddress_set.all.first %}
                                <p>
                                    {{ request.user.shippingaddress_set.all.first.first_name }} 
                                    {{ request.user.shippingaddress_set.all.first.last_name }}
                                </p>
                                <p>{{ request.user.shippingaddress_set.all.first.email }}</p>
                            {% else %}
                                <p>Name: n/a</p>
                                <p>Email: n/a</p>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="no-order-history-content">
                    <h3 class="no-order-history-text">Nothing to see here!</h3>
                    <a class="no-order-history-continue-shopping" href="{% url 'products:product-list' %}">Continue Shopping</a>
                </div>
            </div>
        {% else %}
        <!-- End cart is empty -->

            <div class="payment-center-contents">
                <div class="product-basket-nav-bar">
                    {% with request.resolver_match.url_name as url_name %}
                        <a class="{% if url_name == 'product-basket' %}active-product-basket-nav-link{% else %}product-basket-nav-link{% endif %}" href="{% url 'products:product-basket' %}">Basket</a>
                        <a class="{% if url_name == 'shipping-address' %}active-product-basket-nav-link{% else %}product-basket-nav-link{% endif %}" href="{% url 'products:shipping-address' %}">Address</a>
                        <a class="{% if url_name == 'checkout-summary' %}active-product-basket-nav-link{% else %}product-basket-nav-link{% endif %}" href="{% url 'products:checkout-summary' %}">Checkout</a>
                        <a class="{% if url_name == 'order-history' %}active-product-basket-nav-link{% else %}product-basket-nav-link{% endif %}" href="{% url 'products:order-history' %}">Order History</a>
                        <a class="{% if url_name == 'user-profile' %}active-product-basket-nav-link{% else %}product-basket-nav-link{% endif %}" href="{% url 'users:user-profile' %}">Profile</a>
                    {% endwith %}
                </div>

                <!-- Form order_history.html -->
                <div class="order-history-header-container" style="width:100%;">
                    <div class="order-history-header-text">
                        <h2 class="order-history-header">Checkout Summary</h2>
                        <a class="order-history-continue-shopping-btn-large" href="{% url 'products:product-list' %}">
                            <p class="order-history-continue-shopping" href="">Continue Shopping</p>
                            <span class="material-symbols-outlined">arrow_right_alt</span>
                        </a>
                    </div>
                    <div class="order-history-user-info-container">
                        <div class="order-history-user-profile-image">
                            <img src="{{ request.user.userprofile.profile_image.url }}" alt="">
                        </div>
                        <div class="order-history-user-profile-info">
                            <p class="order-history-username">{{ request.user.username }}</p>
                            {% if request.user.shippingaddress_set.all.first %}
                                <p>
                                    {{ request.user.shippingaddress_set.all.first.first_name }} 
                                    {{ request.user.shippingaddress_set.all.first.last_name }}
                                </p>
                                <p>{{ request.user.shippingaddress_set.all.first.email }}</p>
                            {% else %}
                                <p>Name: n/a</p>
                                <p>Email: n/a</p>
                        {% endif %}
                        </div>
                        <a class="order-history-continue-shopping-btn-small" href="{% url 'products:product-list' %}">
                            <p class="order-history-continue-shopping" href="">Continue Shopping</p>
                        </a>
                    </div>
                </div>
                <!-- End -->

                <!-- For large screen -->
                <div class="purchase-items">
                    <div class="purchased-item-headers">
                        <ul>
                            <li>Name</li>
                            <li>Price</li>
                            <li>Quantity</li>
                            <li>Total</li>
                        </ul>
                    </div>
                    {% for item in query_set %}
                        <a class="purchase-item" href="{{ item.product.get_absolute_url }}">
                            <p>{{ item.product.name }}</p>
                            {% if item.product.get_discount_price %}
                                <p>P{{ item.product.discount_price_str_format }}</p>
                                <!-- from Product model method -->
                            {% else %}
                                <p>P{{ item.product.price_str_format }}</p>
                            {% endif %}
                            <p>{{ item.quantity }}</p>
                            {% for order in order_total %}
                                {% if item.product.id == order.id%}
                                    <p>P{{ order.order_total }}</p>
                                {% endif %}
                            {% endfor %}
                            <!-- from Order model method -->
                        </a>
                    {% endfor %}
                </div>

                <!-- For mobile screen -->
                <div class="sm-purchase-items">
                    {% for item in query_set %}
                        <a href="{{ item.product.get_absolute_url }}" class="sm-purchase-item">
                            <div class="sm-purchased">
                                <h4>Order</h4>
                                <p>{{ forloop.counter }}</p>
                            </div>
                            <div class="sm-purchased">
                                <h4>Name</h4>
                                <p>{{ item.product.name }}</p>
                            </div>
                            <div class="sm-purchased">
                                <h4>Price</h4>
                                {% if item.product.get_discount_price %}
                                    <p>P{{ item.product.discount_price_str_format }}</p>
                                    <!-- from Product model method -->
                                {% else %}
                                    <p>P{{ item.product.price_str_format }}</p>
                                {% endif %}
                            </div>
                            <div class="sm-purchased">
                                <h4>Quantity</h4>
                                <p>{{ item.quantity }}</p>
                            </div>
                            <div class="sm-purchased">
                                <h4>Total</h4>
                                {% for order in order_total %}
                                    {% if item.product.id == order.id%}
                                        <p>P{{ order.order_total }}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </a>
                    {% endfor %}
                </div>

                <div class="purchase-items-total-amount-container">
                    <div class="purchase-item-total-amount-content">
                        <h2 class="purchase-item-total-amount-header-text">Amount Due</h2>
                        <div class="purchase-item-total-amount-header">
                            <h4>Quantity</h4>
                            <p>{{ num_of_product }}</p>
                        </div>
                        <div class="purchase-item-total-amount-header">
                            <h4>Savings</h4>
                            {% if discount_amount %}
                                <p>P{{ discount_amount }}</p>
                            {% else %}
                                <p>n/a</p>
                            {% endif %}
                        </div>
                        <div class="purchase-item-total-amount-header">
                            <h4>Sub-total</h4>
                            <p>P{{ sub_total }}</p>
                        </div>
                        <div class="purchase-item-total-amount-header">
                            <h4>VAT</h4>
                            <p>P{{ vat }}</p>
                        </div>
                        <div class="purchase-item-total-amount-header">
                            <h4>Total</h4>
                            <p>P{{ total }}</p>
                        </div>
                        <!-- coming from context_processor get_basket_total() -->

                        <form class="checkout-form" action="{% url 'products:checkout' %}" method="POST">
                            {% csrf_token %}
                            <button class="purchase-btn" type="submit" id="checkout-button">Purchase</button>
                            <a href="{% url 'products:product-list' %}" class="checkout-form-continue-shopping-btn">Continue Shopping</a>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    
    <script>

        const user = '{{ request.user.shippingaddress_set.all.first.id }}'
        const address_url = '{% url "products:shipping-address" %}'
        
        console.log(address_url)
        
    </script>

{% endblock content %}

