{% extends 'index.html' %}



{% block title %}
    Order History
{% endblock title %}


{% block content %}

<style>

    .history-container {
        display: grid;
    }
    
    .order-history-contents {
        min-height: 100vh;
        width: 95%;
        max-width: 1000px;
        margin: 2rem auto;
        background: white;
        border-radius: 10px;
        display: grid;
        align-content: start;
        gap: 1rem;
        padding: 1.3rem;
    }

    .order-history-contents > * {
        border: 2px solid red;
    }

    .order-history-nav-bar {
        display: flex;
        gap: 1rem
    }

    .order-history-nav-bar > a {
        color: var(--black-5);
        letter-spacing: 0.05rem;
        font-weight: 500;
    }

    .active-order-history-nav-link {
        color: var(--purple-50) !important;
        text-decoration: underline;
        font-weight: 700;
    }

    .order-history-content {
        display: flex;
        justify-content: center;
        text-align: center;
    }

</style>

<div class="history-container">
    <div class="order-history-contents">
        <div class="order-history-nav-bar">
            {% with request.resolver_match.url_name as url_name %}
                <a class="{% if url_name == 'product-basket' %}active-order-history-nav-link{% endif %}" href="{% url 'products:product-basket' %}">Cart</a>
                <a class="{% if url_name == 'history' %}active-order-history-nav-link{% endif %}" href="{% url 'products:history' %}">Order History</a>
            {% endwith %}
        </div>
        {% if not history %}
        <div class="order-history-content">
            <h1>Nothing to see here</h1>
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}