{% extends 'index.html' %}


{% block title %}
    Order history
{% endblock title %}


{% block content %}

    <div class="order-history-container">
        <div class="order-history-header-container">
            <div class="order-history-header-text">
                <h2 class="order-history-header">Order History</h2>
                <a class="order-history-continue-shopping-btn-large" href="{% url 'products:product-list' %}">
                    <p class="order-history-continue-shopping" href="">Continue Shopping</p>
                    <span class="material-symbols-outlined">arrow_right_alt</span>
                </a>
            </div>
            <div class="order-history-user-info-container">
                <div class="order-history-user-profile-image">
                    <img src="{{ request.user.userprofile.profile_image.url }}" alt="">
                </div>
                <div class="order-history-user-profile-info">
                    <p class="order-history-username">{{ request.user.username }}</p>
                    <p>
                        {{ request.user.shippingaddress_set.all.first.first_name }} 
                        {{ request.user.shippingaddress_set.all.first.last_name }}
                    </p>
                    <p>{{ request.user.shippingaddress_set.all.first.email }}</p>
                </div>
                 <a class="order-history-continue-shopping-btn-small" href="{% url 'products:product-list' %}">
                    <p class="order-history-continue-shopping" href="">Continue Shopping</p>
                </a>
            </div>
        </div>
        <div class="receipts">
            {% for receipt in receipts %}
                <div class="receipt">
                    <p class="receipt-counter">{{ forloop.counter }} of {{ receipts.count }}</p>
                    <div class="receipt-info-header-container">
                        <div class="receipt-info-header">
                            <h4>Order ID</h4>
                            <p>{{ receipt.id }}</p>
                        </div>
                        <div class="receipt-info-header">
                            <h4>Customer</h4>
                            <p>
                                {{ request.user.shippingaddress_set.all.first.first_name }} 
                                {{ request.user.shippingaddress_set.all.first.last_name }}
                            </p>
                        </div>
                        <div class="receipt-info-header">
                            <h4>Order Date</h4>
                            <p>{{ receipt.created }}</p>
                        </div>
                    </div>
                    <div class="receipts-products-ordered">
                        <div class="receipts-products-table-headers">
                            <h4 class="receipts-products-table-header">Name</h4>
                            <h4 class="receipts-products-table-header">Qty</h4>
                            <h4 class="receipts-products-table-header">Price</h4>
                            <h4 class="receipts-products-table-header">Total</h4>
                        </div>
                        {% for order in receipt.checkout.order.all %}
                            <a class="receipts-product-ordered" href="{{ order.product.get_absolute_url }}" target="_blank">
                                <p class="receipts-product-text">{{ order.product.name }}</p>
                                <p class="receipts-product-text">{{ order.quantity }}</p>
                                {% if order.product.get_discount_price %}
                                    <p class="receipts-product-text">P{{ order.product.discount_price_str_format }}</p>
                                {% else %}
                                    <p class="receipts-product-text">P{{ order.product.price_str_format }}</p>
                                {% endif %}
                                {% for item in receipt.checkout.order.all %}
                                    {% if item.id == order.id %}
                                        <p class="receipts-product-text receipt-products-order-total">{{ item.get_order_total }}</p>
                                    {% endif %}
                                {% endfor %}
                            </a>
                        {% endfor %}
                    </div>
                    <div class="receipts-amount-paid-container">
                        {% if not receipt.saving == 'None' %}
                        <div class="receipts-amount-paid">
                            <h4>Savings</h4>
                            <p>P{{ receipt.saving }}</p>
                        </div>
                        {% endif %}
                        <div class="receipts-amount-paid">
                            <h4>Sub-total</h4>
                            <p>P{{ receipt.sub_total }}</p>
                        </div>
                        <div class="receipts-amount-paid">
                            <h4>VAT</h4>
                            <p>P{{ receipt.tax }}</p>
                        </div>
                        <div class="receipts-amount-paid">
                            <h4>Total</h4>
                            <p>P{{ receipt.total }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        
        const orderTotal = document.querySelectorAll('.receipt-products-order-total')

        const receiptsProductsTableHeaders = document.querySelector('.receipts-products-table-headers')
        const receiptsProductsTableChildren = receiptsProductsTableHeaders.querySelectorAll('h4')

        const receiptProductOrdered = [...document.querySelectorAll('.receipts-product-ordered')]
        const receiptProductChildren = []

       
        receiptProductOrdered.map((item) => {
            receiptProductChildren.push([...item.querySelectorAll('p')])
        })

        receiptProductChildren.map((item) => {
            item.map((i, index) => {
                let headerWidth = receiptsProductsTableChildren[index].offsetWidth
                i.style.flexGrow = '1'
                i.style.flexShrink = '1'
                i.style.flexBasis = `${headerWidth}px`
            })
        })

        window.addEventListener('resize', (e) => {
            receiptProductChildren.map((item) => {
                item.map((i, index) => {
                    let headerWidth = receiptsProductsTableChildren[index].offsetWidth
                    i.style.flexGrow = '1'
                    i.style.flexShrink = '1'
                    i.style.flexBasis = `${headerWidth}px`
                })
            })
        })

        orderTotal.forEach((order) => {
            let content = order.textContent
            let newContent = `P${content.slice(0, -6)},${content.slice(-6,)}`
            order.textContent = newContent
        })

    </script>
{% endblock content %}