{% extends 'index.html' %}


{% block title %}
    Order history
{% endblock title %}

{% block navbar %}
{% endblock navbar %}

{% block banner %}
{% endblock banner %}


{% block form %}
{% endblock form %}

{% block content %}

    <div class="order-history-container">
        <div class="order-history-brand-name-container">
            <a class="order-history-brand-name" href="{% url 'products:product-home' %}">
                <h1>AiAi Market</h1>
                <p>THE PLACE TO SHOP</p>
            </a>
        </div>
       
        <div class="order-history-header-container">
            <div class="order-history-header-text">
                <h2 class="order-history-header">Order History</h2>
                <a class="order-history-continue-shopping-btn-large" href="{% url 'products:product-list' %}">
                    <p class="order-history-continue-shopping" href="">Continue Shopping</p>
                    <span class="material-symbols-outlined">arrow_right_alt</span>
                </a>
            </div>
            <div class="order-history-user-info-container">
                <div class="order-history-user-profile-image">
                    <img src="{{ request.user.userprofile.profile_image.url }}" alt="">
                </div>
                <div class="order-history-user-profile-info">
                    <p class="order-history-username">{{ request.user.username }}</p>
                    <p>
                        {{ request.user.shippingaddress_set.all.first.first_name }} 
                        {{ request.user.shippingaddress_set.all.first.last_name }}
                    </p>
                    <p>{{ request.user.shippingaddress_set.all.first.email }}</p>
                </div>
                 <a class="order-history-continue-shopping-btn-small" href="{% url 'products:product-list' %}">
                    <p class="order-history-continue-shopping" href="">Continue Shopping</p>
                </a>
            </div>
        </div>
        <div class="receipts">
            {% for receipt in receipts %}
                <div class="receipt">
                    <div class="receipts-info">
                        <p class="receipt-counter">{{ forloop.counter }} of {{ receipts.count }}</p>
                        <p class="receipts-receipt-text">Receipt ID:<span>{{ receipt.id }}</span></p>
                        <p class="receipts-receipt-text">Customer Name:<span>
                            {{ request.user.shippingaddress_set.all.first.first_name }} 
                            {{ request.user.shippingaddress_set.all.first.last_name }}
                            </span>
                        </p>
                        <p class="receipts-receipt-text">Purchased Date:<span>{{ receipt.created }}</span></p>
                        {% comment %}
                        <p class="receipts-receipt-text">URL to receipt sent:<span>{{ receipt.sent }}</span></p>
                        <p class="receipts-receipt-text">Receipt sent date:<span>{{ receipt.receipt_sent_date }}</span></p>
                        {% endcomment %}
                    </div>
                    <div class="receipts-products-ordered">
                        <h3 class="receipt-products-ordered-header">Purchased Items</h3>
                        {% for order in receipt.checkout.order.all %}
                            <div class="receipts-product-ordered">
                                <p class="receipts-product-text">Name:<span>{{ order.product.name }}</span></p>
                                <p class="receipts-product-text">Quantity:<span>{{ order.quantity }}</span></p>
                                {% if order.product.get_discount_price %}
                                    <p class="receipts-product-text">Price:<span>P{{ order.product.discount_price_str_format }}</span></p>
                                    <p class="receipts-product-text">Orginal price:<span>P{{ order.product.price_str_format }}</span></p>
                                {% else %}
                                    <p class="receipts-product-text">Price:<span>P{{ order.product.price_str_format }}</span></p>
                                {% endif %}
                                <p class="receipts-product-text">Product URL:<a href="{{ domain }}{{ order.product.get_absolute_url }}" target="_blank">click to see your purchase</a></p>
                                {% for item in receipt.checkout.order.all %}
                                    {% if item.id == order.id %}
                                        <h4 class="receipt-products-order-total">Total:<span id="order_total">{{ item.get_order_total }}</span></h4>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="receipts-amount-paid">
                        <h3 class="receipts-amount-paid-header">Amount Paid</h3>
                        {% if not receipt.saving == 'None' %}
                            <h4 class="receipts-amount-paid-text">Savings:<span>P{{ receipt.saving }}</span></h4>
                        {% endif %}
                        <h4 class="receipts-amount-paid-text">Sub-total:<span>P{{ receipt.sub_total }}</span></h4>
                        <h4 class="receipts-amount-paid-text">VAT:<span>P{{ receipt.tax }}</span></h4>
                        <h4 class="receipts-amount-paid-total">Total:<span>P{{ receipt.total }}</span></h4>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        
        const IdorderTotal = document.querySelectorAll('#order_total')

        const receipts = document.querySelectorAll('.receipt')

        IdorderTotal.forEach((order) => {
            let content = order.textContent
            let newContent = `P${content.slice(0, -6)},${content.slice(-6,)}`
            order.textContent = newContent
        })

    </script>
{% endblock content %}