{% extends 'index.html' %}


{% block title %}
    Successful payment
{% endblock title %}


{% block banner %}
{% endblock banner %}

{% block content %}

<style>
    .success-payment-main {
        min-height: 100vh;
        display: grid;
        align-content: start;
        padding: 1rem 0;
    }

    .success-payment-receipt-info {
        width: 95%;
        max-width: 1000px;
        margin: 0 auto;
        background: var(--purple-30);
        padding: 1rem;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        display: grid;
        gap: 0.8rem;
    }

    .payment-successful-header {
        letter-spacing: 0.05rem;
        color: rgb(255, 255, 255); 
        text-align: center;
        font-size: 1.4rem;
    }

    .payment-successful-text {
        letter-spacing: 0.05em;
        color: rgb(216, 216, 216);
        line-height: 1.3;
        max-width: 800px;
        text-wrap: balance;
        text-align: center;
    }

    .payment-successful-text > strong {
        color: white;
        word-break: break-all;
    }

    .payment-successful-receipt-id {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .payment-successful-receipt-id > h4 {
        letter-spacing: 0.05rem;
        color: rgb(255, 255, 255);
        line-height: 1.3;
        text-align: center;
    }

    .payment-successful-receipt-id > p {
        letter-spacing: 0.05rem;
        color: rgb(255, 255, 255);
        line-height: 1.3;
        text-align: center;
    }

    .payment-successful-receipt-customer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .payment-successful-receipt-customer > h4 {
        letter-spacing: 0.05rem;
        color: rgb(255, 255, 255);
        line-height: 1.3;
        text-align: center;
    }

    .payment-successful-receipt-customer > p {
        letter-spacing: 0.05rem;
        color: rgb(255, 255, 255);
        line-height: 1.3;
        text-align: center;
    }

    .payment-successful-order-history-btn {
        justify-self: center;
        text-decoration: none;
        padding: 0.7rem 1rem;
        border-radius: 20px;
        background: var(--orange-65);
        color: rgb(255, 255, 255);
        letter-spacing: 0.05rem;
    }

    .success-payment-wrapper {
        width: 95%;
        max-width: 1000px;
        margin: 0 auto;
        display: grid;
        gap: 0.8rem;
        padding: 1rem;
        background: white;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .success-payment-order-receipts {
        display: grid;
        gap: 0.5rem;
    }

    .success-payment-purchased-items-header {
        color: var(--purple-35);
        letter-spacing: 0.05rem;
        font-size: 1.25rem;
    }

    .success-payment-order-receipt {
        display: grid;
        gap: 0.3rem;
        padding: 0.6rem;
        border-radius: 5px;
        box-shadow: 0px 0px 5px -1px rgb(158, 158, 158);
    }

    .success-payment-text {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 0.5rem;
        row-gap: 0;
        line-height: 1.3;
        letter-spacing: 0.05rem;
        font-weight: 500;
        color: var(--black-15);
    }

    .success-payment-text > span {
        font-weight: initial;
    }

    .success-payment-text > a {
        color: var(--blue-50);
        font-weight: initial;
        text-decoration: underline;
    }

    .success-payment-order-total {
        color: rgb(60, 60, 60);
        letter-spacing: 0.02rem;
        display: flex;
        align-items: center;
        gap: 0.2rem;
        font-size: 1.1rem;
    }

    .payment-successful-amount-received-container {
        display: grid;
        gap: 0.5rem;
    }

    .payment-successful-amount-received-header {
        letter-spacing: 0.05rem;
        color: var(--purple-35);
        font-size: 1.25rem;
    }

    .payment-successful-amount-received-text {
        letter-spacing: 0.05rem;
        color: var(--black-5);
        font-weight: 500;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .payment-successful-amount-received-text > span {
        color: rgb(77, 77, 77);
        font-weight: initial;

    }

    .payment-successful-amount-received-total {
        letter-spacing: 0.05rem;
        color: var(--black-5);
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.5rem;
        font-size: 1.1rem;
    }

    @media screen and (min-width: 500px) {

        .payment-successful-header {
            text-align: start;
        }

        .payment-successful-text {
            text-align: start;
        }

        .payment-successful-receipt-id {
            justify-content: start;
        }

        .payment-successful-receipt-id > h4 {
            text-align: start;
        }

        .payment-successful-receipt-id > p {
            text-align: start;
        }

        .payment-successful-receipt-customer {
            justify-content: start;
        }

        .payment-successful-receipt-customer > h4 {
            text-align: start;
        }

        .payment-successful-receipt-customer > p {
            text-align: start;
        }

        .payment-successful-order-history-btn {
            justify-self: start;
        }

        .success-payment-order-receipt {
            padding: 0.8rem;
        }
    }

    @media screen and (min-width: 700px) {

        .success-payment-receipt-info {
            padding: 1rem 1.3rem;
        }

        .payment-successful-header {
            font-size: 1.7rem;
        }

        .success-payment-wrapper {
            padding: 1rem 1.3rem;
        }

        .success-payment-purchased-items-header {
            font-size: 1.3rem;
        }

        .payment-successful-amount-received-header {
            font-size: 1.3rem;
        }
    }

</style>

    <div class="success-payment-main">
        <div class="success-payment-receipt-info">
            <h2 class="payment-successful-header">Payment was successful!</h2>
            <p class="payment-successful-text">
                The URL to your receipt has been sent to
                <strong>{{ email }}.</strong>
                Thank you very much for shopping at our AiAi Market. 
            </p>
            <div class="payment-successful-receipt-id">
                <h4>Receipt ID:</h4>
                <p>{{ receipt_id }}</p>
            </div>
            
            <div class="payment-successful-receipt-customer">
                <h4>Customer:</h4>
                <p>{{ customer }}</p>
            </div>
            <a class="payment-successful-order-history-btn" href="{% url 'products:order-history' %}">See Order History</a>
        </div>
        <div class="success-payment-wrapper">
            <h2 class="success-payment-purchased-items-header"> Purchased Items</h2>
            <div class="success-payment-order-receipts">
                {% for order in orders %}
                    <div class="success-payment-order-receipt">
                        <p class="success-payment-text">Name:<span>{{ order.product.name }}</span></p>
                        <p class="success-payment-text">Quantity:<span> {{ order.quantity }}</span></p>
                        {% if order.product.get_discount_price %}
                            <p class="success-payment-text">Price:<span>P{{ order.product.get_discount_price}}</span></p>
                            <p class="success-payment-text">Orginal price:<span>P{{ order.product.price_str_format}}</span></p>
                        {% else %}
                            <p class="success-payment-text">Price:<span>P{{ order.product.price_str_format}}</span></p>
                        {% endif %}
                        {% for discount in discount_amount %}
                            {% if discount.id == order.product.id %}
                                <p class="success-payment-text">Amount saved:<span>P{{ discount.discount}}</span></p>
                            {% endif %}
                        {% endfor %}
                        <p class="success-payment-text">Product URL: <a href="{{ domain }}{{ order.product.get_absolute_url }}" target="_blank">
                                click to see your purchase
                            </a>
                        </p>
                        {% for obj in order_total %}
                            {% if obj.id == order.id %}
                                <h4 class="success-payment-order-total">Total:<span>P{{ obj.total }}</span></h4>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="payment-successful-amount-received-container">
                <h2 class="payment-successful-amount-received-header">Amount Received</h2>
                {% if basket_total.discount_amount %}
                    <h4 class="payment-successful-amount-received-text">Savings:<span>P{{ basket_total.discount_amount }}</span></h4>
                {% endif %}
                <h4 class="payment-successful-amount-received-text">Sub-total:<span>P{{ basket_total.sub_total }}</span></h4>
                <h4 class="payment-successful-amount-received-text">VAT:<span>P{{ basket_total.vat }}</span></h4>
                <h4 class="payment-successful-amount-received-total">Total:<span>P{{ basket_total.total }}</span></h4>
            </div>
        </div>
    </div>

{% endblock content %}