{% extends 'index.html' %}
{% load static %}


{% block title %}
    Products
{% endblock title %}



{% block content %}
    <!-- PRODUCT 1 -->
    <div class="product-main-container">
        <div class="product-list-wrapper">
            <div class="product-list-header-container">
                <div class="product-list-header-and-link">
                    <h2 class="product-list-header">Latest Product</h2>
                    <a href="{% url 'products:product-search' %}?q=latest">
                        See all
                        <span class="material-symbols-outlined">
                            arrow_right_alt
                        </span>
                    </a>
                </div>
                <p>
                    It is a long established fact that a reader will be distracted by 
                    the readable content of a page when looking at its layout.
                </p>
            </div>
            <div class="product-list">
                {% for product in query_set %}
                    <a class="product" href="{{ product.get_absolute_url }}">
                        <div class="product-image">
                            <img src="{{ product.get_product_image_url }}" alt="">
                        </div>
                        <div class="product-info">
                            <p class="product-name-and-description">
                                <strong>
                                    {{ product.name }}
                                </strong> 
                                {{ product.description}}
                            </p>
                            <div class="product-price-and-discount">
                                {% if product.get_discount_price %}
                                    <p class="product-price">P{{ product.discount_price_str_format }}</p>
                                    <div class="product-discount-price-container">
                                        <p class="product-discount-price">P{{ product.price_str_format }}</p>
                                        <span>-10%</span>
                                    </div>
                                {% else %}
                                    <p class="product-price">P{{ product.price_str_format }}</p>
                                {% endif %}
                            </div>
                            <div class="product-like-container">
                                {% if product.likes %}
                                    <span class="likes">{{ product.likes }}</span>
                                {% endif %}
                                <div class="rate-star-icons">
                                    <!-- <span class="material-symbols-rounded like-icon">star</span> -->
                                    <!-- insert star rating from js -->
                                </div>
                                {% if product.productreview_set.all%}
                                    <div class="product-list-reviews">
                                        <span class="material-symbols-rounded review-icon">rate_review</span>
                                        <span class="reviews">{{ product.productreview_set.count }}</span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <!-- END OF PRODUCT 1 -->
        
        <!-- PRODUCT 2 -->
        <div class="product-list-wrapper">
            <div class="product-list-header-container">
                <div class="product-list-header-and-link">
                    <h2 class="product-list-header">Most Popular</h2>
                    <a href="{% url 'products:product-search' %}?q=most popular">
                        See all
                        <span class="material-symbols-outlined">
                            arrow_right_alt
                        </span>
                    </a>
                </div>
                <p>
                    It is a long established fact that a reader will be distracted by 
                    the readable content of a page when looking at its layout.
                </p>
            </div>
            <div class="product-list">
                {% for product in laptops %}
                    <a href="{{ product.get_absolute_url }}" class="product">
                        <div class="product-image">
                            <img src="{{ product.get_product_image_url }}" alt="">
                        </div>
                        <div class="product-info">
                            <p class="product-name-and-description">
                                <strong>{{ product.name }}</strong> 
                                {{ product.description }}
                            </p>
                            <div class="product-price-and-discount">
                                {% if product.get_discount_price %}
                                    <p class="product-price">P{{ product.discount_price_str_format }}</p>
                                    <div class="product-discount-price-container">
                                        <p class="product-discount-price">P{{ product.price_str_format }}</p>
                                        <span>-10%</span>
                                    </div>
                                {% else %}
                                    <p class="product-price">P{{ product.price_str_format }}</p>
                                {% endif %}
                            </div>
                            <div class="product-like-container">
                                {% if product.likes %}
                                    <span class="likes">{{ product.likes }}</span>
                                {% endif %}
                                <div class="rate-star-icons">
                                    <!-- insert star rating from js -->
                                </div>
                                {% if product.productreview_set.all%}
                                    <div class="product-list-reviews">
                                        <span class="material-symbols-rounded review-icon">rate_review</span>
                                        <span class="reviews">{{ product.productreview_set.count }}</span>
                                    </div>
                            {% endif %}
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <!-- END OF PRODUCT 2 -->

        <!-- PRODUCT 3 -->
        <div class="product-list-wrapper">
            <div class="product-list-header-container">
                <div class="product-list-header-and-link">
                    <h2 class="product-list-header">Just For You</h2>
                    <a href="{% url 'products:product-search' %}?q=just for you">
                        See all
                        <span class="material-symbols-outlined">
                            arrow_right_alt
                        </span>
                    </a>
                </div>
                <p>
                    It is a long established fact that a reader will be distracted by 
                    the readable content of a page when looking at its layout.
                </p>
            </div>
            <div class="product-list">
                {% for product in entry_level %}
                    <a href="{{ product.get_absolute_url }}" class="product">
                        <div class="product-image">
                            <img src="{{ product.get_product_image_url }}" alt="">
                        </div>
                        <div class="product-info">
                            <p class="product-name-and-description">
                                <strong>{{ product.name }}</strong> 
                                {{ product.description }}
                            </p>
                            <div class="product-price-and-discount">
                                {% if product.get_discount_price %}
                                    <p class="product-price">P{{ product.discount_price_str_format }}</p>
                                    <div class="product-discount-price-container">
                                        <p class="product-discount-price">P{{ product.price_str_format }}</p>
                                        <span>-10%</span>
                                    </div>
                                {% else %}
                                    <p class="product-price">P{{ product.price_str_format }}</p>
                                {% endif %}
                            </div>
                            <div class="product-like-container">
                                {% if product.likes %}
                                    <span class="likes">{{ product.likes }}</span>
                                {% endif %}
                                <div class="rate-star-icons">
                                    <!-- insert star rating from js -->
                                </div>
                                {% if product.productreview_set.all%}
                                    <div class="product-list-reviews">
                                        <span class="material-symbols-rounded review-icon">rate_review</span>
                                        <span class="reviews">{{ product.productreview_set.count }}</span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <!-- END OF PRODUCT 3 -->
    </div>

{% endblock content %}