{% extends 'index.html' %}


{% block title %}
    Order history
{% endblock title %}


{% block content %}

<style>

    .order-history-container {
        width: 95%;
        margin: 0 auto;
        display: grid;
        gap: 1rem;
        padding: 1rem 0;
    }

    .order-history-header-container {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
    }

    .receipts {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        display: grid;
        gap: 0.5rem;
    }

    .receipt {
        background: white;
        padding: 1.3rem;
        display: grid;
        gap: 0.5rem;
        border-radius: 10px;
    }
</style>




    <div class="order-history-container">
        <div class="order-history-header-container">
            <h2>Order History</h2>
        </div>
        <div class="receipts">
            {% for receipt in receipts %}
                <div class="receipt">
                    <h4>Receipt ID: {{ receipt.id }}</h4>
                    <p>Customer name: {{ receipt.customer.username }}</p>
                    <p>Ordered date: {{ receipt.created }}</p>
                    <p>Receipt sent: {{ receipt.sent }}</p>
                    <p>Receipt sent via email: {{ receipt.receipt_sent_date }}</p>
                    <div class="receipt-products-ordered">
                        <h4>Products ordered</h4>
                        {% for order in receipt.checkout.order.all %}
                            <div class="product-ordered">
                                <p>ID: {{ order.product.id }}</p>
                                <p>Name: {{ order.product.name }}</p>
                                <p>Quantity: {{ order.quantity }}{% if order.quantity > 1 %}items{% else %}item{% endif %}</p>
                                {% if order.product.get_discount_price %}
                                    <p>Price: P{{ order.product.discount_price_str_format }}</p>
                                    <p>Orginal price: P{{ order.product.price_str_format }}</p>
                                {% else %}
                                    <p>Price: P{{ order.product.price_str_format }}</p>
                                {% endif %}
                                <a href="{{ order.product.get_absolute_url }}">Product URL: {{ request.get_host }}{{ order.product.get_absolute_url }}</a>
                            </div>
                            <br>
                        {% endfor %}
                    </div>
                    <div>
                        <h3>Checkout Summary</h3>
                        {% if receipt.saving %}
                            <h4>Savings: P{{ receipt.saving }}</h4>
                        {% endif %}
                        <h4>Sub-total: P{{ receipt.sub_total }}</h4>
                        <h4>VAT: P{{ receipt.tax }}</h4>
                        <h4>Total: P{{ receipt.total }}</h4>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}