/*
==================
USER_REGISTER.HTML
================== */

.user-register-form-wrapper {
    min-height: 100vh;
    display: grid;
    align-content: start;
    gap: 3rem;
    padding: 2rem 0;
}

.register-form {
    width: 95%;
    max-width: 450px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    box-shadow: 2px 2px 15px -3px rgb(190, 190, 190)
}

.register-form > h2 {
    letter-spacing: 0.05rem;
    color: var(--purple-35);
    font-size: 1.4rem;
}

.username-container,
.password1-container,
.password2-container,
.register-form-button-container {
    display: grid;
    gap: 0.8rem;
}

.username-container > input,
.password1-container > input,
.password2-container > input {
    padding: 0.8rem 1rem;
    border-radius: 10px;
    letter-spacing: 0.05rem;
    color: var(--black-15);
    font-size: 1rem;
    border: 1px solid var(--black-70);
}

.username-container > input:focus,
.password1-container > input:focus,
.password2-container > input:focus {
    outline: 2px solid var(--black-70);
}

.username-container > label,
.password1-container > label,
.password2-container > label {
    letter-spacing: 0.05rem;
    color: var(--black-20);
    font-weight: 500;
}

.username-help-text,
.password2-help-text {
    font-size: 0.95rem;
    letter-spacing: 0.07rem;
    color: var(--black-30);
    display: none;
}

.password1-container > ul {
   margin-left: 1rem;
   color: var(--black-30);
   font-size: 0.95rem;
   letter-spacing: 0.05rem;
   display: none;
}

.errorlist {
   margin-left: 1rem;
   color: var(--orange-50) !important;
   font-size: 0.95rem;
   letter-spacing: 0.05rem;
   display: block !important;
}

.register-button {
    padding: 0.9rem 1rem;
    text-align: center;
    letter-spacing: 0.07rem;
    background: var(--orange-50);
    color: rgb(255, 255, 255);
    border-radius: 25px;
    border: none;
    font-size: 1rem;
}

.already-registered {
    letter-spacing: 0.05rem;
    color: var(--black-20)
}

.already-registered > a {
    letter-spacing: 0.05rem;
    color: var(--purple-40);
    text-decoration: underline;
    font-weight: 500;
}

@media screen and (min-width: 700px) {
    .user-register-form-wrapper {
        padding: 5rem 0;
    }
}

/*
===============
USER_LOGIN.HTML
=============== */

.user-login-form-wrapper {
    min-height: 100vh;
    display: grid;
    align-content: start;
    gap: 3rem;
    padding: 2rem 0;
}

.user-login-brand-name-container {
    width: 95%;
    max-width: 500px;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(200, 200, 200);
}

.user-login-brand-name > h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--orange-60);
}

.user-login-brand-name > h1 > span {
    color: var(--black-5);
    font-size: 1.1rem;
    margin-left: 0.3rem;
    letter-spacing: 0.05rem;
    font-weight: initial;
}

.user-login-nav-bar {
    width: 95%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.user-login-nav-bar > a {
    letter-spacing: 0.05rem;
    text-align: center;
    color: var(--black-5);
}

@media (hover) {
    .user-login-nav-bar > a:hover {
        color: var(--purple-45);
        text-decoration: underline;
    }
}

.active-user-login-nav-link {
    color: var(--purple-50) !important;
    text-decoration: underline;
    font-weight: 700;
}

.user-login-form-contents {
    width: 95%;
    max-width: 450px;
    margin: 0 auto;
    display: grid;
    gap: 1.5rem;
    padding: 1rem;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    box-shadow: 2px 2px 15px -3px rgb(190, 190, 190)
}

.login-form-header {
    letter-spacing: 0.05rem;
    color: var(--purple-35);
    font-size: 1.4rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.login-form {
    display: grid;
    gap: 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.login-form > label {
    letter-spacing: 0.05rem;
    font-weight: 500;
    color: var(--black-20)
}

.login-form > input {
    letter-spacing: 0.05rem;
    font-size: 1rem;
    padding: 0.8rem 1rem;
    border-radius: 10px;
    border: 1px solid var(--black-70);
    color: var(--black-15);
}

.login-form-button-container {
    display: grid;
    gap: 0.5rem;
    margin-top: 0.3rem;
}

.login-button {
    letter-spacing: 0.05rem;
    font-size: 1rem;
    padding: 0.9rem 1rem;
    border-radius: 25px;
    border: none;
    color: rgb(255, 255, 255);
    background: var(--orange-50);
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s linear;
}

.login-form > input:focus {
    outline: 2px solid var(--black-70);
}


.not-yet-registered {
    letter-spacing: 0.05rem;
    color: var(--black-20)
}

.not-yet-registered > a{
    letter-spacing: 0.05rem;
    color: var(--purple-40);
    font-weight: 500;
}

@media screen and (min-width: 700px) {
    .user-login-form-wrapper {
        padding: 5rem 0;
    }
}

/*
===============
USER_PROFILE.HTML
=============== */

.user-profile-container {
    display: grid;
    align-items: start;
    /* min-height: 100vh; */
}

.user-profile-wrapper {
    display: grid;
    align-content: start;
    gap: 2rem;
    padding: 2rem 1rem;
}

.user-profile-contents {
    display: grid;
    padding: 1rem;
    gap: 1rem;
    border-radius: 10px;
    box-shadow: 3px 3px 15px -3px rgb(160, 160, 160)
}

.update-profile-header {
    letter-spacing: 0.05rem;
    color: var(--purple-35);

}

.prfile-form {
    display: grid;
    gap: 1rem;
}

.help-text {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    color: var(--black-20)
}

.form-content {
    display: grid;
    align-content: start;
    gap: 0.5rem;
}

.form-content > input[type='text'],
.form-content > input[type='email'],
.form-content > input[type='file']{
    box-sizing: border-box;
    width: 100%;
    padding: 0.8rem 1rem;
    border-radius: 10px;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    border: 1px solid hsl(0, 0%, 85%);
}

.form-content > input:focus {
    outline: 2px solid var(--black-70);
}

.form-content > label {
    font-weight: 500;
    letter-spacing: 0.05rem;
    color: var(--black-5);
}

.profile-form-profile-image {
    line-height: 1.5;
}

.profile-form-profile-image > label {
    display: block;
    font-weight: 500;
    letter-spacing: 0.05rem;
    color: var(--black-5);
}

.prfile-form > input {
    padding: 0.8rem 1rem;
    border-radius: 10px;
}

.update-prfile-btn {
    border-radius: 25px;
    color: rgb(255, 255, 255);
    background: var(--orange-50);
    padding: 0.8rem 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: 0.05rem;
}

@media screen and (min-width: 530px) {
    .user-profile-wrapper {
        width: 95%;
        max-width: 600px;
        margin: 1rem auto;
        border-radius: 10px;
        padding: 2rem;
        border: 1px solid hsl(0, 0%, 85%)
    }
}

@media screen and (min-width: 1000px) {
    .user-profile-wrapper {
        margin: 2rem auto;
    }
}