{% extends 'index.html' %}
{% load static %}


{% block title %}
    {{ request.user.username }}'s profile
{% endblock title %}


{% block content %}
    <div class="user-profile-container">
        <div class="user-profile-wrapper">
            <div class="user-profile-contents">
                <h2 class="update-profile-header">Profile</h2>
                <form class="profile-form" action="" method="POST">
                    {% csrf_token %}
                    <div class="profile-form-profile-image">
                        {{ profile_form.profile_image.label_tag }}
                        <div>{{ profile_form.profile_image }}</div>
                    </div>
                    <div class="user-form-username form-content">
                        <p class="errorlist">{{ user_form.username.errors }}</p>
                        {{ user_form.username.label_tag }}
                        {{ user_form.username }}
                        <p class="help-text">{{ user_form.username.help_text }}</p>
                    </div>
                    <div class="profile-form-first-name form-content">
                        {{ profile_form.first_name.label_tag }}
                        {{ profile_form.first_name }}
                    </div>
                    <div class="profile-form-last-name form-content">
                        {{ profile_form.last_name.label_tag }}
                        {{ profile_form.last_name }}
                    </div>
                    <div class="profile-form-email form-content">
                        {{ profile_form.email.label_tag }}
                        {{ profile_form.email }}
                    </div>
                    <div  class="update-profile-btn-container">
                        <button class="update-profile-btn" type="submit">Update Profile</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}