{% load static %}



<div class="large-screen-banner-wrapper">
    <div class="banner-img-container">
        <img class="large-img" src="{% static 'images/laptop.webp' %}" alt="">
        <img class="small-img" src="{% static 'images/laptop-small.webp' %}" alt="">
        <div class="banner-img-background-overlay">
            <div class="banner-img-background-overlay">
                <div class="img-banner-content-container">
                    <div class="img-banner-text">
                        <h1 class="img-banner-h1-header">Up to 20% Off On Laptop!</h1>
                        <p class="img-banner-paragraph">
                            this a long established fact that a reader 
                            will be distracted by the readable content of
                            a page when looking at its layout.
                        </p>
                        <a href="{% url 'products:product-search' %}?q=laptop" class="more-info">More Info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-img-container">
        <img class="large-img" src="{% static 'images/pc.webp' %}" alt="">
        <img class="small-img" src="{% static 'images/pc-small.webp' %}" alt="">
        <div class="banner-img-background-overlay">
            <div class="img-banner-content-container">
                <div class="img-banner-text">
                    <h1 class="img-banner-h1-header">Up to 20% Off On Desktop PC!</h1>
                    <p class="img-banner-paragraph">
                        this a long established fact that a reader 
                        will be distracted by the readable content of
                        a page when looking at its layout.
                    </p>
                    <a href="{% url 'products:product-search' %}?q=desktop pc" class="more-info">More Info</a>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-img-container">
        <img class="large-img" src="{% static 'images/accessories.webp' %}" alt="">
        <img class="small-img" src="{% static 'images/accessories-small.webp' %}" alt="">
        <div class="banner-img-background-overlay">
            <div class="banner-img-background-overlay">
                <div class="img-banner-content-container">
                    <div class="img-banner-text">
                        <h1 class="img-banner-h1-header">Up to 30% Off On Accessories!</h1>
                        <p class="img-banner-paragraph">
                            this a long established fact that a reader 
                            will be distracted by the readable content of
                            a page when looking at its layout.
                        </p>
                        <a href="#" class="more-info">More Info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-arrow-left translate-btn">
        <span class="material-symbols-outlined">keyboard_arrow_left</span>
    </div>
    <div class="banner-arrow-right translate-btn">
        <span class="material-symbols-outlined">keyboard_arrow_right</span>
    </div>
</div>

 