

<footer id="footer" class="footer-wrapper">
    <div class="footer-contents-1">
        <div class="footer-content-brand">
            <a class="about-brand-name" href="{% url 'products:product-home' %}">
                aiai
            </a>
            <p class="footer-brand-text">
                <strong>aiai</strong> is your premier online destination for cutting-edge electronics, 
                offering everything from the latest smartphones to top-tier home 
                entertainment systems. With competitive prices, fast shipping, 
                and exceptional customer service, AIAI ensures you stay at the forefront of 
                technology. Discover the future of electronics with AIAI today!
            </p>
        </div>
        <div class="footer-quick-links-container">
            <h2 class="footer-quick-links-header">Quick Links</h2>
            <nav class="footer-quick-links">
                <a class="footer-quick-link" href="{% url 'products:product-home' %}">Home</a>
                <a class="footer-quick-link" href="{% url 'products:product-list' %}">Products</a>
                {% if request.user.is_authenticated %}
                    <a class="footer-quick-link" href="{% url 'products:product-cart' %}">Cart</a>
                    <a class="footer-quick-link" href="{% url 'products:product-create' %}">Create</a>
                    <a class="footer-quick-link" href="{% url 'users:user-profile' %}">Profile</a>
                    <a class="footer-quick-link" href="{% url 'sellers:seller-register' %}">Sell product</a>
                    <a class="footer-quick-link" href="{% url 'users:user-logout' %}">Logout</a>
                {% else %}
                    <a class="footer-quick-link" href="{% url 'users:user-register' %}">Register</a>
                    <a class="footer-quick-link" href="{% url 'users:user-login' %}">Login</a>
                {% endif %}
            </nav>
        </div>
        <div class="footer-contact-container">
            <h2 class="footer-contact-header">Contact</h2>
            <form class="message-form" action="{% url 'users:user-message' %}" method="POST">
                {% csrf_token %}
                <div class="footer-contact-form-input-container">
                    <label for="email">Email</label>
                    <input id="email" name='email' type='email' required>
                </div>
                <div class="footer-contact-form-input-container">
                    <label for="message">Message</label>
                    <textarea id="message" name="message" id="" cols="30" rows="10" required></textarea>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <div class="footer-contents-2">
        <div class="footer-social-links">
            <a class="social-link" href="https://github.com/shinhosuck/e-commerce" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>
            <a class="social-link" href="https://www.linkedin.com/in/eric-anderson-a6b906214/" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
        <p class="copyright-text">&copyCopyright 2023 aiai team. All Rights Reserved.</p>
    </div>
</footer>
