{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="shop, online market, gadgets, PC, laptop">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/icon" href="{% static 'images/favicon.ico' %}">

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,100;1,200&display=swap" rel="stylesheet">

    <!-- google material icon -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /> -->

   <!-- local css -->
    <link rel="stylesheet" href="{% static 'css/fontawesome6/css/all.min.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'products/css/products.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/users.css' %}">

    <title>
    {% block title %}
    {% endblock title %}
    </title>

</head>
<body id="body">
    
        {% block navbar %}
            <header id="header">
                {% include 'navbar.html' %}
            </header>
        {% endblock navbar%}
   
    <main>
       
        {% block herocontent %}
        {% endblock herocontent %}
       
        {% include 'messages.html' %}

        <div class="content-wrapper">
            {% block content %}
            {% endblock content %}
        </div>
       
    </main>

    {% block footer %}
        {% include 'footer.html' %}
    {% endblock footer %}

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>