<style>

@keyframes drop_message {
        from {
            top: -100%
        }
        to {
            top: 10%
        }
    }

    .message-container {
        position: absolute;
        z-index: 300;
        left: 50%;
        transform: translateX(-50%);
        padding: 1rem;
        animation-name: drop_message;
        animation-duration: 1000ms;
        animation-direction: normal;
        animation-fill-mode: forwards;
        border-radius: 10px;
    }

    .success {
        color: #000000;
        background: #5FD87B;
    }

    .warning {
        color: #000000;
        background: #FFD557;
    }

    .error {
        color: #000000;
        background: #ff7e8d;
    }

    .info {
        color: #000000;
        background: #1CB3CA;
    }

    .message {
        letter-spacing: 0.05rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.3;
    }

    .close-message-btn {
        cursor: pointer;
        border-radius: 50%;
        background: var(--black-95);
        width: 33px;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

</style>


<!-- <div class="success message-container">
    <p class="message">Lorem Ipsum is simply dummy text of the printing and typesetting
        <span class="material-symbols-outlined close-message-btn">close</span>
    </p>
</div> -->

{% if messages %}
    {% for message in messages%}
        {% if message.tags == 'success' %}
            <div class="success message-container">
                <p class="message">{{ message }}
                    <span class="material-symbols-outlined close-message-btn">close</span>
                </p>
            </div>
        {% elif message.tags == 'error' %}
            <div class="error message-container">
                <p class="message">{{ message }}
                    <span class="material-symbols-outlined close-message-btn">close</span>
                </p>
            </div>
        {% elif message.tags == 'warning' %}
            <div class="warning message-container">
                <p class="message">{{ message }}
                    <span class="material-symbols-outlined close-message-btn">close</span>
                </p>
            </div>
        {% elif message.tags == 'info' %}
            <div class="info message-container">
                <p class="message">{{ message }}
                    <span class="material-symbols-outlined close-message-btn">close</span>
                </p>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<script>
    const closeMessageBtn = [...document.querySelectorAll('.close-message-btn')]
    const messageContainer = [...document.querySelectorAll('.message-container')]

    closeMessageBtn.forEach((btn) => {
        btn.addEventListener('click', (e) => {
            const parent = e.currentTarget.parentElement.parentElement
            parent.style.display = 'none'
        })
    })


    messageContainer.forEach((message) => {
        const timeOutId = setTimeout(() => {
            message.style.display = 'none'
            clearTimeout(timeOutId)
        }, 5000)
    })
    

</script>