<style>
    .message-container {
        padding: 0.5rem;
    }

    .success {
        color: #000000;
        background: #28a745;
    }

    .warning {
        color: #000000;
        background: #ffc107;
    }

    .error {
        color: #000000;
        background: #dc3545;
    }

    .info {
        color: #000000;
        background: #17a2b8;
    }

    .message {
        width: 90%;
        margin: 0 auto;
        letter-spacing: 0.05rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.1rem;
    }

    .close-message-btn {
        cursor: pointer;
    }

</style>


{% if messages %}
    {% for message in messages%}
        {% if message.tags == 'success' %}
            <div class="success message-container">
                <p class="message">{{ message }}
                    <span class="material-symbols-outlined close-message-btn">close</span>
                </p>
            </div>
        {% elif message.tags == 'error' %}
            <div class="error message-container">
                <p class="message">{{ message }}
                    <span class="material-symbols-outlined close-message-btn">close</span>
                </p>
            </div>
        {% elif message.tags == 'warning' %}
            <div class="warning message-container">
                <p class="message">{{ message }}
                    <span class="material-symbols-outlined close-message-btn">close</span>
                </p>
            </div>
        {% elif message.tags == 'info' %}
            <div class="info message-container">
                <p class="message">{{ message }}
                    <span class="material-symbols-outlined close-message-btn">close</span>
                </p>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<script>
    const closeMessageBtn = [...document.querySelectorAll('.close-message-btn')]
    const messageContainer = document.querySelector('.message-container')

    closeMessageBtn.forEach((btn) => {
        btn.addEventListener('click', (e) => {
            const parent = e.currentTarget.parentElement.parentElement
            parent.style.display = 'none'
        })
    })

    if(messageContainer) {
        const timeOutId = setTimeout(() => {
            messageContainer.style.display = 'none'
            clearTimeout(timeOutId)
        }, 5000)
    }

</script>