

<div class="nav-bar-wrapper">
    <a class="brand-name" href="{% url 'products:product-home' %}">
        <h1>aiai<span>e-market</span></h1>
    </a>

    <form class="search-form" action="{% url 'products:product-search' %}" method="GET">
        <input class="search-form-input" type="text", name='q' required placeholder="Search">
        <button class="search-form-submit-btn" type="submit">
            <span class="material-symbols-outlined">search</span>
        </button>
    </form>


    {% with request.resolver_match.url_name as url_name %}
        <nav class="nav-links">
            <a class="nav-link {% if url_name == 'product-list' %}active-nav-link{% endif %}" href="{% url 'products:product-list' %}">Products</a>
            {% if not request.user.is_authenticated %}
                <a class="nav-link {% if url_name == 'user-login' %}active-nav-link{% endif %}" href="{% url 'users:user-login' %}">Login</a>
                <a class="nav-link {% if url_name == 'user-register' %}active-nav-link{% endif %}" href="{% url 'users:user-register' %}">Register</a>
            {% else %}
                <div class="logged-in-user-nav-link-container">
                    <div class="toggle-user-navbar">
                        <img class="logged-in-navbar-user-profile-img" src="{{request.user.userprofile.profile_image.url}}" alt="">
                        <p class="logged-in-navbar-username">{{ request.user.username }}</p>
                        <span class="material-symbols-outlined logged-in-navbar-arrow-down">
                            keyboard_arrow_down
                        </span>
                        <span class="material-symbols-outlined logged-in-navbar-arrow-up">
                            keyboard_arrow_up
                        </span>
                    </div>
                    <div class="logged-in-user-nav-links">
                        <a class="nav-basket {% if url_name == 'product-basket' %}active-nav-link{% endif %}" href="{% url 'products:product-basket' %}">
                            Basket
                            <span class="material-symbols-outlined shopping-cart">shopping_basket</span>
                            <span class="num-of-items">{{ num_of_product }}</span>
                        </a>
                        <a class="nav-link {% if url_name == 'user-profile' %}active-nav-link{% endif %}" href="{% url 'users:user-profile' %}">Profile</a>
                        <a class="nav-link {% if url_name == 'order-history' %}active-nav-link{% endif %}" href="{% url 'products:order-history' %}">Order history</a>
                        {% if request.user.sellersignup %}
                            <a class="nav-link {% if url_name == 'product-create' %}active-nav-link{% endif %}" href="{% url 'products:product-create' %}">Create</a>
                        {% endif %}
                        <a class="nav-link {% if url_name == 'seller-signup' %}active-nav-link{% endif %}" href="{% url 'sellers:seller-register' %}">Sell on AiAi Market</a>
                        <a class="nav-link {% if url_name == 'user-logout' %}active-nav-link{% endif %}" href="{% url 'users:user-logout' %}">Logout</a>
                    </div>
                </div>
            {% endif %}
            <button type="button" class="nav-link nav-link-search-button">
                Search
                <span class="material-symbols-outlined search-icon">search</span>
            </button>
        </nav>
    {% endwith %}
</div>

<!-- Mobile screen  -->
<div class="mobile-nav-bar-wrapper">
    <a class="mobile-brand-name" href="{% url 'products:product-home' %}">
        <h1>aiai<span>e-market</span></h1>
    </a>
    <form class="mobile-search-form" action="{% url 'products:product-search' %}" method="GET">
        <input class="mobile-search-form-input" type="text", name='q' required placeholder="Search">
        <button class="mobile-search-form-submit-btn" type="submit">
            <!-- <span class="material-symbols-outlined mobile-form-search-icon">search</span> -->
            <span class="material-symbols-outlined mobile-form-close-icon">close</span>
        </button>
    </form>

    <span class="material-symbols-outlined mobile-search-icon">search</span>

    <div class="mobile-toggle-nav-btn">
        <span class="material-symbols-outlined mobile-menu-btn">menu</span>
    </div>
    {% with request.resolver_match.url_name as url_name %}
        <nav class="mobile-nav-links">
            <span class="material-symbols-outlined mobile-nav-close-btn">close</span>

            {% if request.user.is_authenticated %}
                <a class="mobile-basket-link mobile-nav mobile-nav-link {% if url_name == 'product-basket' %}mobile-active-nav-link{% endif %}" href="{% url 'products:product-basket' %}">
                    Basket
                    <span class="material-symbols-outlined mobile-shopping-cart">shopping_basket</span>
                    <span class="mobile-num-of-items">{{ num_of_product }}</span>
                </a>
            {% endif %}

            <a class="mobile-nav mobile-nav-link {% if url_name == 'product-list' %}mobile-active-nav-link{% endif %}" href="{% url 'products:product-list' %}">Products</a>
            {% if not request.user.is_authenticated %}
                <a class="mobile-nav mobile-nav-link {% if url_name == 'user-login' %}mobile-active-nav-link{% endif %}" href="{% url 'users:user-login' %}">Login</a>
                <a class="mobile-nav mobile-nav-link {% if url_name == 'user-register' %}mobile-active-nav-link{% endif %}" href="{% url 'users:user-register' %}">Register</a>
            {% else %}
                <a class="mobile-nav mobile-nav-link {% if url_name == 'user-profile' %}mobile-active-nav-link{% endif %}" href="{% url 'users:user-profile' %}">Profile</a>
                <a class="mobile-nav mobile-nav-link {% if url_name == 'order-history' %}mobile-active-nav-link{% endif %}" href="{% url 'products:order-history' %}">Order history</a>
                {% if request.user.sellersignup %}
                    <a class="mobile-nav mobile-nav-link {% if url_name == 'product-create' %}mobile-active-nav-link{% endif %}" href="{% url 'products:product-create' %}">Create</a>
                {% endif %}
                <a class="mobile-nav mobile-nav-link {% if url_name == 'seller-signup' %}mobile-active-nav-link{% endif %}" href="{% url 'sellers:seller-register' %}">Sell on AiAi Market</a>
                <a class="mobile-nav mobile-nav-link {% if url_name == 'user-logout' %}mobile-active-nav-link{% endif %}" href="{% url 'users:user-logout' %}">Logout</a>
            {% endif %}
        </nav>
    {% endwith %}
    <div class="mobile-nav-background-layout"></div>
</div>

<script>

    const mobileSearchForm = document.querySelector('.mobile-search-form')
    const mobileBrandName = document.querySelector('.mobile-brand-name')
    const mobileSearchIcon = document.querySelector('.mobile-search-icon')

    const mobileFormCloseBtn = document.querySelector('.mobile-form-close-icon')


    function mobileSearchFormEvent(e) {
        if(e.target === mobileSearchIcon) {
            mobileSearchForm.style.display = 'flex'
            mobileBrandName.style.display = 'none'
            mobileSearchIcon.style.display = 'none'
            mobileFormCloseBtn.style.display = 'flex'
        }else if(e.target === mobileFormCloseBtn) {
            mobileSearchForm.style.display = 'none'
            mobileBrandName.style.display = 'flex'
            mobileSearchIcon.style.display = 'flex'
            mobileFormCloseBtn.style.display = 'none'
        }
    }

    mobileSearchIcon.addEventListener('click', mobileSearchFormEvent)
    mobileFormCloseBtn.addEventListener('click', mobileSearchFormEvent)

</script>