{% extends 'index.html' %}


{% block title %}
    Profile
{% endblock title %}


{% block content %}

    <div class="user-profile-container">
        <div class="user-profile-wrapper">
            <div class="product-basket-nav-bar">
                {% with request.resolver_match.url_name as url_name %}
                    <a class="{% if url_name == 'product-basket' %}active-product-basket-nav-link{% else %}product-basket-nav-link{% endif %}" href="{% url 'products:product-basket' %}">Cart</a>
                    <a class="{% if url_name == 'shipping-address' %}active-product-basket-nav-link{% else %}product-basket-nav-link{% endif %}" href="{% url 'products:shipping-address' %}">Address</a>
                    <a class="{% if url_name == 'checkout-summary' %}active-product-basket-nav-link{% else %}product-basket-nav-link{% endif %}" href="{% url 'products:checkout-summary' %}">Checkout</a>
                    <a class="{% if url_name == 'order-history' %}active-product-basket-nav-link{% else %}product-basket-nav-link{% endif %}" href="{% url 'products:order-history' %}">Order History</a>
                    <a class="{% if url_name == 'user-profile' %}active-product-basket-nav-link{% else %}product-basket-nav-link{% endif %}" href="{% url 'users:user-profile' %}">Profile</a>
                {% endwith %}
            </div>
            <div class="order-history-header-container" style="width:100%;">
                <div class="order-history-header-text">
                    <h2 class="order-history-header">{{ request.user.username }}'s Profile</h2>
                    <a class="order-history-continue-shopping-btn-large" href="{% url 'products:product-list' %}">
                        <p class="order-history-continue-shopping" href="">Continue Shopping</p>
                        <span class="material-symbols-outlined">arrow_right_alt</span>
                    </a>
                </div>
                <div class="order-history-user-info-container">
                    <div class="order-history-user-profile-image">
                        <img src="{{ request.user.userprofile.profile_image.url }}" alt="">
                    </div>
                    <div class="order-history-user-profile-info">
                        <p class="order-history-username">{{ request.user.username }}</p>
                        {% if request.user.shippingaddress_set.all.first %}
                            <p>
                                {{ request.user.shippingaddress_set.all.first.first_name }} 
                                {{ request.user.shippingaddress_set.all.first.last_name }}
                            </p>
                            <p>{{ request.user.shippingaddress_set.all.first.email }}</p>
                        {% else %}
                            <p>Name: n/a</p>
                            <p>Email: n/a</p>
                        {% endif %}
                    </div>
                    <a class="order-history-continue-shopping-btn-small" href="{% url 'products:product-list' %}">
                        <p class="order-history-continue-shopping" href="">Continue Shopping</p>
                    </a>
                </div>
            </div>
            <div class="user-profile-contents">
                <form class="prfile-form" action="" method="POST">
                    {% csrf_token %}
                    <div class="user-form-username form-content">
                        <p class="errorlist">{{ user_form.username.errors }}</p>
                        {{ user_form.username.label_tag }}
                        {{ user_form.username }}
                        <p class="help-text">{{ user_form.username.help_text }}</p>
                    </div>
                    <div class="profile-form-first-name form-content">
                        {{ profile_form.first_name.label_tag }}
                        {{ profile_form.first_name }}
                    </div>
                    <div class="profile-form-last-name form-content">
                        {{ profile_form.last_name.label_tag }}
                        {{ profile_form.last_name }}
                    </div>
                    <div class="profile-form-profile-image">
                        {{ profile_form.profile_image.label_tag }}
                        {{ profile_form.profile_image }}
                    </div>
                    <div class="profile-form-email form-content">
                        {{ profile_form.email.label_tag }}
                        {{ profile_form.email }}
                    </div>
                    <button class="update-prfile-btn" type="submit">Update Profile</button>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}