{% extends 'index.html' %}
{% load static %}
{% load humanize %}


{% block title %}
    {{ request.user.username }}'s cart
{% endblock title %}



{% block content %}

<div class="product-basket-content-container">
    {% if not query_set %}
        <div class="no-cart-content">
            <h3 class="no-cart-header">Nothing to see here!</h3>
            <p class="no-cart-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Mollitia assumenda inventore maiores consequuntur quidem cum 
                fugiat nemo cumque, numquam exercitationem.
            </p>
            <div class="no-cart-btn">
                <a class="no-cart-continue-shopping" href="{% url 'products:product-list' %}">Continue Shopping</a>
            </div>
        </div>
    {% else %}
        <div class="product-basket-container">
            <div class="product-basket-wrapper">
                <div class="product-cart-header-container">
                    <h2 class="product-cart-header">Shopping Cart </h2>
                    <div class="product-basket-menu">
                        <h3>Product Detail</h3>
                        <h3>Quantity</h3>
                        <h3>Subtotal</h3>
                    </div>
                </div>
                {% for order in query_set %}
                    <!-- Desktop -->
                    <div class="basket-product">
                        <div class="basket-product-info-container">
                            <img src="{{ order.product.get_product_image_url }}" alt="">
                            <div class="basket-product-info">
                                <a href="{{ order.product.get_absolute_url }}" class="basket-product-name" target="_blank">
                                    {{ order.product.name }}
                                </a>
                                {% if order.product.get_discount_price %}
                                    <div class="basket-price-discount-container">
                                        <h5 class="basket-product-price">P{{ order.product.get_discount_price }}</h5>
                                        <p class="basket-product-discount-price">P{{ order.product.price|intcomma}}</p>
                                    </div>
                                {% else %}
                                    <h5 class="basket-product-price">P{{ order.product.price|intcomma }}</h5>
                                {% endif %}
                            </div>
                        </div>
                        <form class="dekstop-basket-total-product-form" action="/update/{{ order.product.id }}/quantity/?delete=True" method="POST">
                            {% csrf_token%}
                            <button data-product-id="{{ order.product.id }}" type="button"class="desktop-basket-minus-item minus-btn">
                                <i class="fas fa-minus"></i>
                            </button>
                            <input class="lg-quantity" type="text" readonly name='quantity' value="{{ order.quantity }}">
                            <button data-product-id="{{ order.product.id }}" type="button" class="desktop-basket-add-item plus-btn">
                                <i class="fas fa-plus"></i>
                            </button>
                            <button class='update-or-delete submit-btn' type="submit">Delete</button>
                        </form>
                        {% for obj in product_subtotals %}
                            {% if order.product.id == obj.id %}
                                <h5 class="total-price">P{{ obj.subtotal }}</h5>
                                <!-- coming from context_processor order_total -->
                            {% endif %}
                        {% endfor %}
                    </div>
                    <!-- End -->

                    <!-- Small screen -->
                    <div class="small-screen-basket-product">
                        <img src="{{ order.product.get_product_image_url }}" alt="">
                        <div class="small-screen-basket-contents">
                            <a href="{{ order.product.get_absolute_url }}" class="small-basket-product-name" target="_blank">
                                {{ order.product.name }}
                            </a>
                            {% if order.product.get_discount_price %}
                                <div class="small-basket-price-discount-container">
                                    <h5 class="small-screen-basket-product-price">P{{ order.product.get_discount_price }}</h5>
                                    <p class="small-basket-product-discount-price">P{{ order.product.price|intcomma }}</p>
                                </div>
                            {% else %}
                                <h5 class="small-screen-basket-product-price">P{{ order.product.price|intcomma }}</h5>
                            {% endif %}
                        
                            <form class="basket-total-product-form" action="/update/{{ order.product.id }}/quantity/?delete=True" method="POST">
                                {% csrf_token %}
                                <div class="basket-total-product-form-input-container">
                                    <button data-product-id="{{ order.product.id }}" type="button"class="basket-minus-item minus-btn">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <input class="quantity" type="text" readonly  name='quantity' value="{{ order.quantity }}">
                                    <button data-product-id="{{ order.product.id }}"  type="button" class="basket-add-item plus-btn">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                                {% for obj in product_subtotals %}
                                    {% if order.product.id == obj.id %}
                                        <h5 class="small-screen-subtotal-price">
                                            <span>Subtotal:</span>
                                            <span>P{{ obj.subtotal }}</span>
                                        </h5>
                                    {% endif %}
                                    <!-- order_total is from context_processor order_total -->
                                {% endfor %}
                                <button class='update-or-delete-btn submit-btn' type="submit">Delete</button>
                            </form>
                        </div>
                    </div>
                    <!-- End -->
                {% endfor %}
            </div>
            <div class="basket-sub-total-container">
                <div class="basket-sub-total">
                    <h3 class="basket-order-summary-header">Order Summary</h3>
                    <div class="basket-order-summary-content-container">
                        <div class="sub-total-basket-quantity">
                            <h5>Quantity</h5>
                            {% if num_of_product > 1 %}
                                <p>{{ num_of_product }} Items</p>
                            {% else %}
                                <p>{{ num_of_product }} Item</p>
                            {% endif %}
                            <!-- coming from context_processors.py -->
                        </div>
                        {% if discount_amount %}
                            <div class="sub-total-basket-savings">
                                <h5>Discount</h5>
                                <p>P{{ discount_amount }}</p> 
                                <!-- coming from context_processors.py -->
                            </div>
                        {% endif %}
                        <div class="sub-total-basket-subtotal">
                            <h5>Subtotal</h5>
                            <p>P{{ sub_total }}</p>
                            <!-- coming from context_processors.py -->
                        </div>
                        <div class="sub-total-basket-vat">
                            <h5>VAT<small>12%</small></h5>
                            <p>P{{ vat }}</p>
                            <!-- coming from context_processors.py -->
                        </div>
                        <div  class="sub-total-basket-underline"></div>
                        <div class="sub-total-basket-total">
                            <h5>Total</h5>
                            <p>P{{ total }}</p>
                            <!-- coming from context_processors.py -->
                        </div>
                    </div>
                    <div class="sub-total-btns">
                        <a class="basket-checkout-btn" href="{% url 'products:shipping-address' %}">
                            Proceed to Checkout
                        </a>
                        <a class="basket-continue-shopping-btn" href="{% url 'products:product-list' %}">
                            Continue Shopping
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>

<script>
    const increaseQuantity = [...document.querySelectorAll('.plus-btn')]
    const decreaseQuantity = [...document.querySelectorAll('.minus-btn')]
    const host = window.location.host
   
    increaseQuantity.forEach((btn)=> {
        btn.addEventListener('click', (e)=> {
            const plusButton = e.currentTarget
            const qtyInput = plusButton.previousElementSibling
            const productId = plusButton.getAttribute('data-product-id')

            qtyInput.value = parseInt(qtyInput.value) + 1

            const url = `/update/${productId}/quantity/?quantity=${qtyInput.value}`
           
            window.location.href = url
        })
    })

    decreaseQuantity.forEach((btn)=> {
        btn.addEventListener('click', (e)=> {
            const minusButton = e.currentTarget
            const qtyInput = minusButton.nextElementSibling
            const productId = minusButton.getAttribute('data-product-id')

            if(parseInt(qtyInput.value) > 1) {
                qtyInput.value = parseInt(qtyInput.value) - 1
                const url = `/update/${productId}/quantity/?quantity=${qtyInput.value}`
                window.location.href = url
            }
            
        })
    })





</script>

{% endblock content %}
